body {
    background-color: #002642;
    color: #E5DADA;
    font-family: 'Acme', sans-serif;
}

a:visited {
    color: #E5DADA;
    font-family: 'Acme', sans-serif;
}

nav {
    border: 0.5rem outset #E59500;
    border-radius: 50px;
    margin: 0rem;
    padding: 1rem;
    position: sticky; top: 10px;
    background-color: #002642;
}

ul.course {
    list-style-type: hiragana;
    margin: 15px;
    padding: 20px;
}

.box {
    float: left;
    margin-right: 10px;
    width: 300px;
    height: 400px;
    border-radius: 30px;
}

#navmenu {
    display: inline;
    text-decoration: none;
	margin:10px;
	width:800px;
}

#navmenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
}

#navmenu a {
	display:block;
	padding:0px;
	text-decoration-line: underline;
    text-decoration-style: wavy;
}